streamlit 
streamlit_tags
pandas
matplotlib
openai
numpy
fastapi 
uvicorn 
reportlab 
pydantic
requests
flask 
firebase-admin 
google-auth-oauthlib
python-dotenv
difflib
google-generativeai
scikit-learn
reportlab
